@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  scroll-behavior: smooth;

  /* Colors */

  --background-color: #f5f5f5;
  --primary-text-color: #616161;
  --secondary-text-color: #868686;
  --button-background-color: #4d4d4d;
  --button-text-color: #f5f5f5;

  /* Default settings */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;

  outline: none;

  font-size: 16px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;

  line-height: 24px;

  text-decoration: none;

  box-sizing: border-box;

  color: var(--primary-text-color);
}

body {
  background: var(--background-color);
}

button {
  border: none;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 30px;
  line-height: 34.47px;
}

h2 {
  font-size: 25px;
  line-height: 28.73px;
}

h3 {
  font-size: 20px;
  line-height: 20.98px;
}

h4 {
  font-size: 16px;
  line-height: 18.38px;
}

/* General classes */

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 960px;
  height: 100vh;
  min-height: 100vh;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.section-title h1 {
  font-size: 30px;
  font-weight: bold;

  color: var(--primary-text-color);
}

.section-title img {
  width: 40px;
  height: 40px;
}
