.about {
  align-items: center;

  padding-bottom: 60px;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
}

.about-me {
  display: flex;
  flex-direction: column;
  gap: 30px;

  width: 53%;
}

.description {
  text-align: justify;

  color: var(--secondary-text-color);
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.my-photo {
  width: 300px;
  border-radius: 50%;
}

.my-name {
  margin-bottom: 10px;

  font-size: 25px;
  font-weight: bold;

  text-align: center;

  color: var(--primary-text-color);
}

.my-title {
  font-size: 20px;
  font-weight: bold;

  text-align: center;

  color: var(--secondary-text-color);
}

.social-medias {
  display: flex;
  gap: 40px;

  min-height: 40px;
}
